/* rafiq-file  */
html	 {box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;}
li{
color: black;
	text-align: center;

}
ul{
padding: 10px;
	
}

 body{
	 display: block;
      font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }
 :root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
} 
  *::before, *::after {
    box-sizing: inherit;
}
*{ margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.nav	{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 2;}
 .nav-list {
    display: flex;
    margin-right: 2rem;
	  padding: 2rem;
} 

nav ul li{ display: inline-block;
margin-right: 6rem;
font-size: 30px;
line-height: 1.8rem;
font-weight: 500;
color: black;
}


nav ul {
          list-style: none;
        }
        nav ul li a {  color: var(--main-white);
     text-decoration: none;
    
}
nav ul div li a:hover:{
  color: black;
  padding: 20px;
 
}
 #welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	  text-align: center;
    width: 100%;
    height: 100vh;
	  padding: 10rem 2rem;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
 }
   #services-section{
    background-color: #000;
    min-width: 100%;
    min-height: 100vh;
    border: 5px solid #ffffff;
    padding: 16px;
   }
   #services ul{
    list-style-type: none;
   }
   #services ul li{
    font-size: 20px;
    font-weight: 300;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    
   }
 #project-section{
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #000;
  padding: 16px;
 }
#left-container, #right-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
 
}


.code {
  color: red var(--main-gray);
  transition: color 0.3s ease-out;
}
.project:hover .code {
  color: #ff7f50;
}
.img-responsive {
  height: calc(100% - 40rem);
   max-width: calc(100% - 20rem);
   object-fit: cover;
   border-radius: 50px;
   box-shadow: 2px 2px 2px
}
.btn {width:13vw;
   display: inline-block;
   padding: 1rem 2rem;
   border-radius: 9px;
   margin:2rem 40vw;
   text-align:center;}
.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}
.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}
.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
/* Contact section */
  #contact-section{ 

    width: 100%;
    min-height: 80vh;
    padding: 2rem;
    background: var(--main-white)
     
  }
  .contact-links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: bottom;
    text-align: center;
   
  }
  #contact-section p  {
    font-size: 30px;
    text-align: center;
  }
    .contact-links a{
      font-size: 30px;
    
    }
footer{
    font-weight: 300;
    display: flex;
    flex: row wrap;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
	  color: white;
    border-top: 4px solid var(--main-red);
    height: 30vh;
  }

h1, h2 {
color: white;
font-family: 'Raleway', sans-serif;
 
}
h2 {
    font-size: 40%;
}
P{
  text-align: center;
  font-size: 1.5rem;
  padding-top: 10px;
  margin-top: 0px;
  font-weight: 700;
}
 @media (max-width: 800px){
                	     .nav	{display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                           justify-content: center;}
  }
 @media (max-width: 576px){
                	     .nav	{display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                           justify-content: center;}
  }

